{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Редактировать профиль
{% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'main/css/registration.css' %}"/>

{% endblock %}

{% if user.username %}
    {% block main_page %}
        <a class="p-2 text-dark" href="{% url 'profile' user.username %}">Personal Page</a>
    {% endblock %}

    {% block link %}

        <a class="p-2 text-dark" href="{% url 'edit' %}">Edit Profile</a>
        <a class="p-2 text-dark" href="{% url 'leave_profile' %}">Leave</a>

    {% endblock %}
{% endif %}

{% block content %}
	<div class="container">
		<a href="{% url 'profile' user.username %}" style="color: black"><button style="background: #f44336">Вернуться</button></a>
		<br>
    <form class="modal-content animate" style="padding: 10px; border: none;" method="POST">
		{% csrf_token %}

		{{ user_form.as_p }}
  		{{ profile_form.as_p }}

		<button type="submit">Сохранить</button>
		  </form>
	</div>
{% endblock %}