{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Авторизация
{% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'main/css/registration.css' %}"/>

{% endblock %}

{% block main_page %}
<a class="p-2 text-dark" href="{% url 'home' %}">Main page</a>
{% endblock %}

{% block content %}
	<div class="container">
		<a href="{% url 'home' %}" style="color: black"><button style="background: #f44336">Вернуться на главную страницу</button></a>
		<br>
    <form class="modal-content animate" method="POST">
		{% csrf_token %}
			<div class="imgcontainer">
			  <img src="https://icon-library.com/images/icon-8-app/icon-8-app-28.jpg" width="128" height="128">
			</div>

			<div class="container">
			  <label for="username"><b>Логин (номер ИСУ)</b></label>
			  <input type="text" placeholder="Enter Username" name="username" required>

			  <label for="password"><b>Пароль</b></label>
			  <input type="password" placeholder="Enter Password" name="password" required>

			  <button type="submit">Авторизоваться</button>
			  <label>
				<input type="checkbox" checked="checked" name="remember"> Remember me
			  </label>

			</div>
			  <span class="psw">Забыли <a href="#">пароль?</a></span>
		  </form>
	</div>
{% endblock %}