{% extends 'main/base.html' %}

{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block head %}

{% endblock %}
{% block main_page %}
    {% if user.username %}

        <a class="p-2 text-dark" href="{% url 'profile' user.username %}">Personal Page</a>

    {% else %}
            <a class="p-2 text-dark" href="{% url 'home' %}">Main page</a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <h2>Информация о пробежках</h2><br>
    {% if listNews %}
        {% for el in listNews %}
            <div class="alert alert-warning mt-2">
                <h3>{{ el.title }}</h3>
                <p>{{ el.mainText }}</p>
                <p>{{ el.timeDate }}</p>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning mt-2">
                <h3>Здесь пока ничего нет!</h3>
            </div>
    {% endif %}
</div>
{% endblock %}