{% extends 'main/base.html' %}

{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block head %}
{% endblock %}
{% if user.username %}
    {% block main_page %}
        <a class="p-2 text-dark" href="{% url 'profile' user.username %}">Personal Page</a>
    {% endblock %}

    {% block link %}

        <a class="p-2 text-dark" href="{% url 'edit' %}">Edit Profile</a>
        <a class="p-2 text-dark" href="{% url 'leave_profile' %}">Leave</a>

    {% endblock %}
{% endif %}

{% block content %}
<script src="./time.js"></script>
    <div class="container">
        <h1>{{ logStudent.first_name }} {{ logStudent.last_name }}</h1><br>
        <div class="alert alert-warning mt-2">
            <h3>Номер ИСУ (Номер студенческого билета): {{ logStudent.username }}</h3>
            <h3>Дата рождения: {{ logStudent.profile.birth }}</h3>
            <h3>Мегафакультет: {{ logStudent.profile.megafaculty }}</h3>
            <h3>Номер группы: {{ logStudent.profile.group }}</h3>
            <h3>Дополнительная информация: {{ logStudent.profile.info }}</h3>
        </div>
    </div>
{% if username %}
    <form action="{% url 'post' request.user.username %}" method="post">
        {% csrf_token %}
        <div class="container">
            <input type="text" placeholder="Ссылка на тренировку в Strava" name="train_link" style="width:85%; height: 50px; margin: 10px; border: none;" required>
            <button type="submit" style="background-color: #4CAF50; border: none; height: 50px; color: white;" >Опубликовать</button>
        </div>
    </form>
{% endif %}
<br><br>
<div class="container">
    <h2>Тренировки</h2><br>
    {% if list_posts %}
        {% for el in list_posts %}
            <div class="alert alert-warning mt-2">
                <h3>{{ el.name }}</h3>
                <h5>Дистанция: {{ el.distance }}</h5>
                <h5>Общее время тренировки: {{ el.run_time }}</h5>
                <h5>Дата тренировки: {{ el.date_running }}</h5>
                <h5>Пост в Strava: <a href="{{ el.link_post }}">{{ el.link_post }}</a> </h5>
            </div><br>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning mt-2">
            <h3>Здесь пока ничего нет! Для добавления записи вставьте ссылку на пробежку выше.</h3>
        </div>
    {% endif %}
</div>
{% endblock %}